.jumbotron {
    padding: 20px;
}

.form-container {
    padding: 25px;
    box-shadow: 1px 1px 5px #e0e0e0;
}

.nav-tabs li {
    width: 50%;
    text-align: center;
}

.nav-tabs li>a {
    display: inline-block;
    width: 100%;
}

.tab-pane {
    padding: 20px;
}
